/*

Week 02: January 17 2017
Narrative and Time

*/

body {
	margin: 0;
	padding: 0;
}

#today {
	font-family: Helvetica, sans-serif;
	font-size: 60px;
	font-weight: bold;
	color: black;
}

#today ul {
	list-style: none;
	font-size: 20px;
}

button {
	font-size: 30px;
}
