/*

Exercise 07: Scrooooooooooooooolling
Pam Menegakis

Minimal styling to web page: Large body text and a gradient background to complement the scrolling effect.

*/

/* css reset */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 100px;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
}

/* Make the background have a gradient so that when the user scrolls the color gradually changes */
.container {
  min-height: 100vh;
  background: linear-gradient(rgb(245,180,54), rgb(238,57,8));
  background: -webkit-linear-gradient(rgb(245,180,54), rgb(238,57,8));
  background: -mox-linear-gradient(rgb(245,180,54), rgb(238,57,8));
  background: -o-linear-gradient(rgb(245,180,54), rgb(238,57,8));
}

/* In order to center text horizontally and vertically */
.scrollBox {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
