/*

Responsive Voice

*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
  background-color: rgb(231,211,33);
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  border-radius: 2%;
}

form {
  display: inline-block;
}

input {
  padding: 4px 15px 4px 15px;
  height: 25px;
  width: 200px;
}

#button {
  display: inline-block;
  background-color: #fc999b;
  color: #fff;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
  border-radius: 3%;
  height: 25px;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

ol {
  padidng-left: 20px;
}

ol li {
  padding: 5px;
  color: #000;
}

ol li:nth-child(even){
  background: #dfdfdf;
}

.strike {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
}
