/*

Assignment 01: Interactive Personality
Pam Menegakis
February 2017

*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: rgb(107,199,196);
  font-family: 'Open Sans', sans-serif;
}

#taskbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(230,230,230);
  height: 25px;
}

#date {
  float: right;
  margin-right: 2%;
  font-size: 14px;
  list-style: none;
}

#dock {
  background-color: rgba(230,230,230, 0.2);
  width: 80%;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 100px;
  transform: translate(-50%,0);
}
