/*

Assignment 01: Interactive Personality
Pam Menegakis
February 2017

*/

body {
  background-color: aqua;
}

#taskbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  height: 25px;
}

#date {
  float: right;
}
