/*

Assignment02: Web Intervention
Pam Menegakis

Some description of the CSS styling

*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.homepage {
  background-color: #374954;
}

.login {
  background-color: #eee;
  margin: 0 auto;
  padding: 20px;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
   -moz-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}
.login input {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 15px;
}

.login label {
  font-size: 14px;
  padding: 15px;
}

.enter {
  outline: 0;
  border: 0;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
  display: block;
  width: 100%;
}
