/*

Assignment02: Web Intervention
Pam Menegakis

Some description of the CSS styling

*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.homepage {
  background-color: #374954;
}

.login {
  background-color: #ccc;
  max-width: 300px;
  margin: -100px 0 0 -150px;
  position: absolute;
  top: 50%;
  left: 50%;
}

#check {
  display: block;
  position: absolute;
}

form {
  display: inline-block;
  position: relative;
  max-width: 360px;
  padding: 45px;
  text-align: center;
}

input {
  width: 100%;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.enter {
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
}
