/*

Assignment02: Web Intervention
Pam Menegakis

Some description of the CSS styling

*/

/* Webpage fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* Reset the entire body */
* {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: rgb(46,52,87);
}

/* styling for the login form */
.login {
  background-color: #eee;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); /* to the div in the center vertically */
}

#name {
  font-size: 14px;
  padding: 15px;
  width: 100%;
  margin-bottom: 15px;
}

#check, .login label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.login label {
  margin-left: 10px;
}

.enter { /* enter button */
  outline: 0;
  border: 0;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
  display: block;
  width: 100%;
}

/*

DASHBOARD HEADER

*/

/* Header */

#header {
height: 50px;
background-color: rgb(46,52,87);
width: 100%;
display: -webkit-flex;
display: flex;
padding: 10px;
margin-bottom: 10px;
}

/* Greeting */
#hello {
  color: #fff;
  text-align: left;
  -webkit-flex: 1;
  flex: 1;
}

/* Task counter */
.counter {
  color: #fff;
  -webkit-flex: 1;
  flex: 1;
  text-align: right;
}

/* DASHBOARD CONTAINER ELEMENTS */
#container {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap; /* If necessary, wrap items */
  flex-wrap: wrap;
  padding: 20px;
}

/* Task List */
#taskList {
  padding: 20px;
  width: 600px;
  background-color: #EFEFEF;
  border-radius: 2px;
  margin: 10px;
}

#taskList form {
  display: inline-block;
  width: 500px;
}

#taskList input {
  padding: 15px;
  height: 20px;
  width: 100%;
  outline: none;
  font-size: 14px;
  text-align: center;
  background-color: rgb(213,213,213);
}

#add {
  display: inline-block;
  background-color: rgb(213,213,213);
  text-align: center;
  padding: 5px 15px;
  font-size: 14px;
  margin-left: 2px;
}

#add:hover {
  cursor: pointer;
  opacity: 0.8;
}

ul {
  padding-left: 20px;
  font-size: 14px;
  list-style-type: circle;
  color: black;
}

ul li {
  padding: 5px;
}

.strike {
  text-decoration: line-through;
}

/* Challenge container */
#challenge {
  padding: 20px;
  width: 500px;
  background-color: #EFEFEF;
  border-radius: 2px;
  height: 250px;
  margin: 10px;
}

/* Leaderboard container */
#leaderboard {
  padding: 20px;
  width: 300px;
  background-color: #EFEFEF;
  border-radius: 2px;
  height: 250px;
  margin: 10px;
}

#leaderboard h1 {
  font-size: 18px;
  text-align: center;
}

.name, .taskCount {
  font-size: 14px;
  display: inline-block;
}

.taskCount {
  float: right;
}

/* Progress Bar */
#progress {
  padding: 20px;
  width: 600px;
  height: 50px;
  background-color: #EFEFEF;
  border-radius: 2px;
  height: 100px;
  margin: 10px;
}

/* Glitch effect */
.glitch {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: absolute;
  display: none;
}
