/*

Play Array

*/

body {
  padding: 20px;
  font-family: 'Tinos', serif;
}

#click {
  display: block;
  background-color: rgba(255,0,0,0.4);
  width: 100px;
  padding: 10px;
  text-align: center;
  color: black;
  text-decoration: none;
  margin: 0 auto;
}

#click:hover {
  background-color: rgba(255,0,0,0.3);
}

p {
  text-align: center;
  font-size: 20vh;
}
